[Desktop Entry]
Name=Microsoft OneNote
Categories=Office;
Exec=~/.webapps/microsoft-onenote/microsoft-onenote
Icon=microsoft-onenote
Path=
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

Actions=in-browser;reinstall;uninstall;
[Desktop Action reinstall]

Name=Reinstall
Exec=kdialog --title Reinstall --warningyesno 'Are you sure?' && nativefier-freedesktop ~/.webapps/installers/microsoft-onenote.webapp
Icon=view-refresh

Name[it]=Reinstalla
Exec[it]=kdialog --title Reinstalla --warningyesno 'Sei sicuro?' && nativefier-freedesktop ~/.webapps/installers/microsoft-onenote.webapp


[Desktop Action uninstall]

Name=Uninstall
Exec=kdialog --title Uninstall --warningyesno 'Are you sure?' && rm -rf ~/.webapps/microsoft-onenote/ && rm -rf ~/.local/share/applications/microsoft-onenote.desktop
Icon=edit-delete

Name[it]=Disinstalla
Exec[it]=kdialog --title Disinstalla --warningyesno 'Sei sicuro?' && rm -rf ~/.webapps/microsoft-onenote/ && rm -rf ~/.local/share/applications/microsoft-onenote.desktop

[Desktop Action in-browser]

Name=Open in the browser
Exec=xdg-open https://www.onenote.com/notebooks
Icon=internet-web-browser
Name[it]=Apri nel browser

